<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}" />

    <script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/layui/layui.js}"></script>
<!--    <script th:src="@{/assets/layui/layui.all.js}"></script>-->
    <style>
        body{margin: 10px;}

    </style>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script >

    layui.use('table', function(){
         var table = layui.table
            ,form = layui.form;
        var col=[
             {type: 'checkbox', fixed: 'left'}
            ,{field: 'id', title: 'ID', width:200, sort: true, fixed: 'left'}
            ,{field: 'emp_no', title: '工号', width: 100}
            ,{field: 'citizen_no', title: '身份证号', width: 135, sort: true, totalRow: true}
            ,{field: 'sex', title: '性别', width: 200}
            ,{field: 'email', title: '邮箱', width:180}
            ,{field: 'mobilePhone', title: '手机号', width: 180, sort: true, totalRow: true}
            ,{field: 'officePhone', title: '办公座机', width:150, sort: true}
            ,{field: 'user_type', title: '用户类型', width: 150, sort: true, totalRow: true}
            ,{field: 'person_type', title: '人员类型', width:150}
            ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
            ]
        table.render({
            elem:"#demo",
            height :550,
            url:"/tSUser/query",

            cols:[col],
            page:true

        });
        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
                layer.msg('查看操作');
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                layer.msg('编辑操作');
            }
        });

    });
</script>
</body>
</html>
