<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyl.demo.dao.mapper.TSBaseUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pyl.demo.dao.entity.TSBaseUser">
        <id column="ID" property="id" />
        <result column="activitiSync" property="activitiSync" />
        <result column="browser" property="browser" />
        <result column="password" property="password" />
        <result column="realname" property="realname" />
        <result column="status" property="status" />
        <result column="userkey" property="userkey" />
        <result column="username" property="username" />
        <result column="departid" property="departid" />
        <result column="user_name_en" property="userNameEn" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, activitiSync, browser, password, realname, status, userkey, username, departid, user_name_en, delete_flag
    </sql>

</mapper>
