<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyl.demo.dao.mapper.TSRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pyl.demo.dao.entity.TSRole">
        <id column="ID" property="id" />
        <result column="rolecode" property="rolecode" />
        <result column="rolename" property="rolename" />
        <result column="depart_ag_id" property="departAgId" />
        <result column="role_type" property="roleType" />
        <result column="update_name" property="updateName" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="create_name" property="createName" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, rolecode, rolename, depart_ag_id, role_type, update_name, update_date, update_by, create_name, create_date, create_by
    </sql>

</mapper>
